.App {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.left-panel {
    position: absolute;
    width: 350px;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 20px;
    border-right: 1px solid #eee;
}
.right-panel {
    position: relative;
    height: 100%;
    padding-top: 20px;
    margin-left: 350px;
}