.list-group-item > .btn {
    float: right;
}
.vote-list-group-item {
    position: relative;
    margin: 6px 12px 10px;
    padding: 6px 12px 6px 32px;
    border: none;
    font-size: 24px;
    letter-spacing: 0px;
}

.vote-list-group-item:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15)
}
.vote-input {
    width: 320px;
    padding: 0;
    border: none;
    outline: none;
}
.vote-list-count {
    position: absolute;
    top: 6px;
    left: 8px;
    color: #007bff;
}
.vote-delete-icon {
    position: absolute;
    font-size: 10px !important;
    vertical-align: middle;
    top: 18px;
    right: 10px;
}