.progressbar {
    background-color: #d8d8d8;
    border-radius: 20px;
    position: relative;
    margin: 15px 0;
    height: 10px;
    width: 300px;
}

.progressbar-done {
    background: linear-gradient(to left, #0062cc, #005cbf);
    box-shadow: 0 3px 3px -5px #007bff, 0 2px 5px #007bff;
    border-radius: 10px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    opacity: 0;
    transition: 1s ease 0.3s;
}